footer{
  width: 100%;
  background: #0E1323;
  margin-top: 50px;
  display: flex;
  height: 114px;
  justify-content: center;
  align-items: center;
  gap: 34px;
}
footer .container{
  display: flex;
  max-width: var(--max-width);
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  margin: 0 40px;
}
footer .container p{
  white-space: nowrap;
  color: #b4b4b4;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer .dash{
  width: 100%;
  max-width: 200px;
  margin: 0 35px;
  height: 3px;
  border-radius: 4px;
  background-color: rgba(203, 202, 202, 0.73);
}
footer .container ul {
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 18px;
}
footer .container li{
  all: unset;
  color: #EAEAEA;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
footer .allRight{
  color: #ffffff;

}
@media (max-width: 650px) {
  footer .container{
    flex-direction: column;
    margin: 0 10px;
    gap: 15px;
  }
  footer .container ul {
    order: 1;
  }
  footer .dash {
    order: 2;
    max-width: 100px;

  }
  footer .container p {
    order: 3;
  }
}
