.about-us-section{
  display: flex;
  justify-content: center;
  min-height: 84vh;
  padding: 0 40px;
}
.title{
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: var(--large-font);
  margin-bottom: 15px;
  display: none;
}
.about-us-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  color: var(--blue-dark-color);
  width: 100%;
  max-width: 1240px;

}
app-about-paragraph{
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .title{
    display: block;
  }
  .about-us-container{
    flex-direction:column;
  }
}
