.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background-color: var(--main-color);
  box-shadow: 0px 10px 17.5px 0px rgba(215, 0, 78, 0.63);
  opacity: 0.9;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.4s;
  font-size: 1.4rem;
}

.btn:hover{
  opacity: 1;
}
.btn:active{
  opacity: 0.8;
  box-shadow: 0px 10px 17.5px 0px rgba(215, 0, 78, 0.47);
}
i{
  font-size: 17px;
}
@media screen and (max-width: 1028px) {
  .btn {
    font-size: 12px;
  }
  i{
    font-size: 16px;
  }
}
