.portifolio-images{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 130px;
  background: #121523;
  padding: 15px;
}

@media (max-width:1028px){
  .portifolio-images{
    display: none;
  }
}
