<header class="head-container">
  <div class="h-container1">
    <img id="logo" src="assets/Image/logo.png" alt="">
  </div>

  <div class="h-container2">

    <ul class="h-list-container " [class.drop-down]="this.service.state" appCollaps>


      <li class="h-list">
        <a routerLink="Home" routerLinkActive="dash" class="h-button">Home</a>
      </li>
      <li class="h-list">
        <a routerLink="About-Us" routerLinkActive="dash" class="h-button">About Us</a>
      </li>
      <li class="h-list">
        <a routerLink="Projects" routerLinkActive="dash" class="h-button">Projects</a>
      </li>
      <li class="h-list">
        <a routerLink="Contact" routerLinkActive="dash" class="h-button">Contact Me</a>
      </li>

    </ul>
    <app-button-m buttonText="Resume" padding="14px 14px"></app-button-m>
    <a class="menu_btn">
      <i class="ri-menu-2-line" appPresss ></i>
    </a>
  </div>
</header>
