<section class="project-section">
  <div class="project-container">
    <div class="project-top-container">

      <div class="title-container">
        <h2 class="title">PORTFOLIO</h2>
        <p class="section-description">This is a project section with all of my current and
          future projects...</p>
      </div>

      <div class="filter-container">
        <ul>
          <li (click)="switchNav(0)" [class.active]="journalism"><a>Journalism</a></li>
          <li (click)="switchNav(1)" [class.active]="editing"><a>Editing</a></li>
          <li (click)="switchNav(2)" [class.active]="animation"><a>Animation</a></li>
          <li (click)="switchNav(3)" [class.active]="socialMedia"><a>Social Media</a></li>
        </ul>
        <div class="filter-button" [style.left]="buttonPosition"></div>

      </div>

    </div>
    <div class="card-container">
      <div *ngFor="let src of srcs; let index = index" routerLink="/Projects/view">
          <app-project-card [src]="src" title="Work Shop" role="Corresponding Director" date="2021" *ngIf="index<counter"></app-project-card>

      </div>
    </div>
    <app-button-m padding="13px" [buttonText]="ViewButtonName" [isIcon]="false" class="view-button" fontSize="14px" (click)="viewMore()"></app-button-m>
  </div>
</section>
