<div class="hero-container">
<p class="welcome">Welcome I’M</p>
<h1 class="name">Bizawit A Merawi</h1>
<p class="job-title">Communication Major</p>
<p class="hero-description">
  <span>A proud Northwestern Communication graduate from Ethiopia.</span> My Northwestern journey has been
  a thrilling exploration of connecting people and ideas, arming me with skills in communication
  , strategic thinking, and multimedia storytelling.
</p>
  <app-button-nathan  class="btn" buttonText="Scroll" padding="14px 10px" icon="ri-arrow-down-double-line"></app-button-nathan>
</div>





